h1 {
    padding: 25px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
mat-form-field, button {
    margin-top: 20px;
    width: 400px;
}
mat-form-field {
    padding: 0px 0px 20px;
}